.hlead {
    width: 90%
}

/* navbar */
.navbar {
    position: relative;
    min-height: 85px;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
  }
  
  .navbar-brand img {
    max-height: 75px;
  }